{{!-- modules/lookfar/templates/dialogs/travel-check.hbs --}}

<form id="lookfar-travel-check">
  <div class="lf-travel-flex-row">
    <!-- Threat Level Column -->
    <div class="lf-travel-column">
      <table class="travel-check-table">
        <caption class="lf-travel-caption">
          {{localize "LOOKFAR.Dialogs.TravelCheck.ThreatLevel"}}
        </caption>
        <tbody>
          {{!--
            Expecting context:
            travelChecks = [
              { label: "Minimal", die: "d6" },
              { label: "Low",     die: "d8" },
              ...
            ]
          --}}
          {{#each travelChecks}}
            <tr>
              <td>
                <label>
                  <input
                    type="radio"
                    name="travelCheck"
                    value="{{die}}"
                    {{#if @first}}checked{{/if}}
                  >
                  {{label}}
                  (
                    <span class="dice-display" data-original="{{die}}">
                      {{die}}
                    </span>
                  )
                </label>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

    <!-- Wayfaring Options Column -->
    <div class="lf-travel-column">
      <table class="travel-check-table">
        <caption class="lf-travel-caption">
          {{localize "LOOKFAR.Dialogs.TravelCheck.Wayfaring"}}
        </caption>
        <tbody>
          <tr>
            <td>
              <label for="groupLevel">
                {{localize "LOOKFAR.Dialogs.TravelCheck.PartyLevel"}}
              </label>
              <select id="groupLevel" name="groupLevel">
                <option value="5+">5+</option>
                <option value="20+">20+</option>
                <option value="40+">40+</option>
              </select>
            </td>
          </tr>

          <tr>
            <td class="lf-travel-th-row">
              <div class="lf-travel-treasure-row">
                <label class="lf-travel-inline-label">
                  {{localize "LOOKFAR.Dialogs.TravelCheck.TreasureHunting"}}:
                </label>

                <div id="treasureHunterLevel" class="lf-travel-stars">
                  <i class="fa-regular fa-star" data-value="1"></i>
                  <i class="fa-regular fa-star" data-value="2"></i>
                  <i class="fa-regular fa-star" data-value="3"></i>
                </div>
              </div>

              <input type="hidden" id="treasureHunterLevelInput" value="0">
            </td>
          </tr>

          <tr>
            <td>
              <label>
                <input type="checkbox" id="wellTraveled" name="wellTraveled">
                {{localize "LOOKFAR.Dialogs.TravelCheck.WellTraveled"}}
              </label>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</form>
