{{!-- modules/lookfar/templates/travel-result.hbs --}}

<div id="lookfar-travel-result">
  <div class="travel-result-body">
    {{#if titleText}}
      <div class="lf-travel-result-title">
        {{titleText}}
      </div>
    {{/if}}

    {{#if noIncident}}
      <div class="lf-travel-result-no-incident">
        {{noIncident}}
      </div>
    {{else}}
      <table class="lf-travel-result-table">
        {{#if showEffect}}
          <tr>
            <th>{{localize "LOOKFAR.TravelCheck.Dialogs.TravelResult.TableHeaders.Effect"}}</th>
            <td>{{effectText}}</td>
          </tr>
        {{/if}}

        <tr>
          <th>{{localize "LOOKFAR.TravelCheck.Dialogs.TravelResult.TableHeaders.Source"}}</th>
          <td>{{sourceText}}</td>
        </tr>
      </table>
    {{/if}}
  </div>

  {{#if keywords}}
    <table class="lf-keyword-table">
      <tr>
        <th>{{localize "LOOKFAR.TravelCheck.Dialogs.TravelResult.TableHeaders.Traits"}}</th>
        <td>{{keywords.traitKeywords}}</td>
      </tr>
      <tr>
        <th>{{localize "LOOKFAR.TravelCheck.Dialogs.TravelResult.TableHeaders.Terrain"}}</th>
        <td>{{keywords.terrainKeywords}}</td>
      </tr>
    </table>
  {{/if}}

  <p class="travel-result-prompt">
    {{promptText}}
  </p>
</div>
