{{!-- modules/lookfar/templates/travel-result.hbs --}}

<div id="lookfar-travel-result">
  <div class="travel-result-body">
    {{{resultHtml}}}
  </div>

  {{#if keywords}}
    <table class="lf-keyword-table">
      <tr>
        <th>{{localize "LOOKFAR.Dialogs.TableHeaders.Traits"}}</th>
        <td>{{keywords.traitKeywords}}</td>
      </tr>
      <tr>
        <th>{{localize "LOOKFAR.Dialogs.TableHeaders.Terrain"}}</th>
        <td>{{keywords.terrainKeywords}}</td>
      </tr>
    </table>
  {{/if}}

  <p class="travel-result-prompt">
    {{promptText}}
  </p>
</div>
